.details {
    font-style: italic;
    padding-left: 22%;
    width:50%;
    float:left;
    
}
.details h2, h4, h5{
    font-weight: bold;
    color: rgb(2, 128, 128);
    font-size: xx-large;
}
p.clear{
    clear:both;
}
p.Error{
    clear:both;
    color:rgb(76, 148, 3);
}
.container{
    display: block;
    clear:both;
    font-style: italic;
    width: 80%;
    padding-right: 20%;
}
hr{
    border:1px solid black;
}
.container-fluid{
    width:40%;
    padding-left: 10%;
    font-size: large;
}