.details {
    font-style: italic;
    padding-left: 25%;
    width:50%;
    float:left;
    
}
.details h2, h4, h5{
    font-weight: bold;
    color: rgb(2, 128, 128);
    font-size: xx-large;
}
p.clear{
    clear:both;
}
.container{
    display: block;
    clear:both;
}
hr{
    border:1px solid black;
}
.container-fluid{
    width:40%;
    padding-left: 10%;
}