{% extends 'base_search.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stars.css">
    <title>Book Page</title>
{% endblock head %}

{% block body %}
<div class="details">
    <h2 style="color: black;">{{ res['title'] }}</h2>
    ISBN:<h4>{{ res['isbn'] }}</h4>
    Authored by: <h4>{{ res['author'] }}</h4>
    Published in:<h5>{{ res['year'] }}</h5>
    Goodreads average rating:<h5>{{ avg_rating }}</h5>
    Goodreads rating count:<h5>{{ rating_count}}</h5>
</div>
<div class="container-fluid" style="float: left;">
    <strong>Rate the book</strong>
    <form action="{{ url_for('add_review',book_isbn=res.isbn) }}",method="post">
        <div class="stars">
            <input class="star star-5" value="5" id="star-5" type="radio" name="star"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" value="4" id="star-4" type="radio" name="star"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" value="3" id="star-3" type="radio" name="star"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" value="2" id="star-2" type="radio" name="star"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" value="1" id="star-1" type="radio" name="star"/>
            <label class="star star-1" for="star-1"></label>
        </div>
        <br>
        <strong>Write your review here!</strong>
        <br>
        <textarea name="book-review" style="background-color: transparent;width: 80%;" rows="4"; ></textarea><br>
        
        <button type="submit" class="btn btn-warning btn-sm" style="width: 15%;" >Post</button>
    </form>
    {% if error %}
    <p class="Error"><strong>Error:</strong>{{ error }}</p>
    {% endif %}
</div>
    <br>
    <br>
    <br>
    <br>
    <p class="clear" style=" font-size:x-large;font-style: italic;padding-left: 10%; padding-top: 8%;">Reviews</p>
    {% if r %}
        {% for review in r %}
        <div class="container">
            <div class="row">
                <div style="color: crimson; font-size: large;">
                {{ review['username'].upper() }} 
                </div>
                <div style="float: left;font-size: large;">
                    &nbsp rated this book  {{ review['rating'] }} out of 5!
                </div>
            </div>
            <div class="row" style="color:rgb(133, 6, 48);font-weight: bold;font-size: larger;">
                {{ review['reviews'] }}
            </div><hr>
        </div>
        
        {% endfor %}
    {% else %}
       <p style="font-size: large; padding-left: 15%; "> No reviews for this book yet. Be the first person to review this book!</p>
    {% endif %}

{% endblock body %}