{% extends 'base.html' %}
{% block title %} Bookarazzi Login {% endblock title %}

{% block body %}
<center>
    <form action="http://127.0.0.1:5000/login", method="post">
        <label style="color: rgb(252, 225, 245); padding-top: 5%; font-size:x-large ;">Login Here!</label>
        <div class="form-group">
            
            <label style="color: antiquewhite;">Username</label>
            <input type="text" class="form-control" required style="width: 20%; " name="username">
        
        </div>
        
        <div class="form-group">
    
            <label for="password1" style="color: antiquewhite;">Password</label>
            <input type="password" class="form-control" required style="width: 20%;" name="InputPassword">
        
        </div>
        <div class="form-group">
        <input type="submit" class="btn btn-danger" value="Sign In">
        </div>
        <a href="http://127.0.0.1:5000/">Don't have an account yet?</a>
    </form>
    {% if error %}
        <p class="error" style="color: antiquewhite;"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
</center>
{% endblock body %}