{% extends 'base_search.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stars.css">
    <title>Book Page</title>
{% endblock head %}

{% block body %}
<div class="details">
    <h2 style="color: black;">{{ res['title'] }}</h2>
    ISBN:<h4>{{ res['isbn'] }}</h4>
    Authored by: <h4>{{ res['author'] }}</h4>
    Published in:<h5>{{ res['year'] }}</h5>
</div>
<br>
<br><div class="container-fluid">
    <strong>Rate the book</strong>
    <form action="{{ url_for('add_review',book_isbn=res.isbn) }}",method="post">
        <div class="stars">
            <input class="star star-5" value="5" id="star-5" type="radio" name="star"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" value="4" id="star-4" type="radio" name="star"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" value="3" id="star-3" type="radio" name="star"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" value="2" id="star-2" type="radio" name="star"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" value="1" id="star-1" type="radio" name="star"/>
            <label class="star star-1" for="star-1"></label>
        </div>
        <br>
        <strong>Write your review here!</strong>
        <textarea name="book-review" style="background-color: transparent; width: 90%; height: 20%;"></textarea><br>
        <div class="text-center">
        <button type="submit" class="btn btn-warning btn-lg">Post</button>
        </div>
    </form>
    </div>
    <br>
    {% if error %}
        <p class="Error"><strong>Error:</strong>{{ error }}</p>
    {% endif %}
    
    {% if r %}
        {% for review in r %}
        <div class="container">
            <div class="row">
              <div class="col-6">
                <div>{{ review['username'].upper() }} says, </div>
                <div>{{ review['reviews'] }}</div>
              </div>
              <div class="col">
                <div class="r-stars">
                {% for i in range(0,review['rating'])  %}
                <img src="https://img.freepik.com/free-vector/start_53876-25533.jpg?size=338&ext=jpg">
                {% endfor %}
                </div>
             </div>
             <div class="col">
                {{ review['r_date'] }}
              </div>
            </div>    
            </div>        
        {% endfor %}
    {% endif %}

{% endblock body %}